{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Liste des annonces</h2>
    <hr>

    {# On affiche tous les messages flash dont la clé est notice #}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    {% for advert in listAdverts %}

        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
            <h3>{{ advert.title }}</h3>
        </a>
        <p><i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i></p>

        {% if not advert.categories.empty %}
            <p>
                Catégories :
                {% for category in advert.categories %}
                    {{ category.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        <div class="row">

            {# On vérifie qu'une image soit bien associée à l'annonce #}
            {% if advert.image is not null %}
                <div class="col-sm-4">
                    <img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}" class="img-responsive">
                </div>
                <br>
            {% endif %}

            <div class="col-sm-8">

                <div class="well">
                    {{ advert.content }}
                </div>

                {% if advert.advertSkills|length > 0 %}
                <p>
                    Cette annonce requiert les {{ advert.advertSkills|length }} compétences suivantes :
                    <ul>
                        {% for advertSkill in advert.advertSkills %}

                            <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                        {% endfor %}
                    </ul>
                </p>

                {% endif %}

            </div>
        </div>

        {% if not loop.last %}<hr>{% endif %}

        {% else %}
            <li>Pas (encore !) d'annonces</li>
    {% endfor %}

    {% if nbPages > 1 %}
        <ul class="pagination">
          {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
          {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
              <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}

    <div>
        <a href="{{ path('oc_core_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'accueil
        </a>
    </div>

{% endblock %}